@import './extends.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.field{
    margin-bottom: 17px;
    position: relative;
}

.form-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.445);

    > div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 25px;
        background-color: white;
        width: 100%;
        max-width: 300px;
        border-radius: 15px;

        h2{
            margin-bottom: 10px;
        }
    }

    form{
        width: 100%;
        input{
            padding: 8px;
            width: 100%;
        }
        button{
            @extend custom-button;
            padding: 5px 10px;
        }
        .error{
            font-size: 11px;
            color: red;
            position: absolute;
            left: 0;
            top: 100%;
        }
    }
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        height: 21px;
        width: 23px;
        cursor: pointer;
        &::after,&::before{
            content: "";
            height: 100%;
            width: 2px;
            background: black;
            position: absolute;
            transform: translateX(-50%) rotate(45deg);
            left: 50%;
        }
        &::after{
            transform: translateX(-50%) rotate(-45deg);
        }
    }
}

.hidden{
    display: none;
}

input{
    border: 1px solid rgb(118, 118, 118);
}